body{

	background-image: url("../src/circuitoIntegrado.png");
    font-family: 'Roboto', sans-serif;
}


#miperfil{
	background-color:#1d0ed4;
	width:460px;
	position: absolute;
	left: 50%;
	top: 15%;
	margin-left: -230px;
	border-radius: 5px;
    box-shadow: 0 3px 10px black;                     /*    box-shadow: y x r color*/
}

#miperfil header{
    
    background-color:#26c368;
    border-radius: 5px 5px 0 0;
}

#miperfil header .extracto h1{
    margin: 0;
    font-size: 36px;
    font-weight: 500;
}

#miperfil header .extracto{
padding: 30px 40px 30px 20px;    
position: relative;
}

#miperfil header .extracto img{
    position: absolute;
     right: -40px;
     border: 4px solid white;
     border-radius: 25px;
     top: 35px;
}


#miperfil header .extracto p{
 margin: 0px; 
 font-size: 14px;
 font-weight: normal;
 color: #666;
}


#miperfil header nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#miperfil header nav ul li{
    float:  left;
    margin: 0 0 20px 20px; /* margin: up right down left; */
}

#miperfil header nav ul li a:hover{
    color: blue;
}
#miperfil header nav ul li a{
 text-transform: uppercase;
 text-decoration: none;
 font-size: 12px;
 font-weight: bold;
 color: #333222;
 transition: color .2s ease;
}

#miperfil header nav ul li.activo a{
    color: #b4b6b8;
}

main .bio{
 padding: 0 20px 0 20px;
}

main .bio p{
 color: white;
}